//importacion de colores
@import "_colors"
.img-logo
    height: 2.5rem
.nav-bar
    background: $primary-color

.text-logo
    color: $light-color !important
.menu-burger
    filter: invert(100%)
.nav-text
    color: $terciary-color !important

    margin: 1px
    border-radius: 3px
    padding: 2px

    &:hover
        color: $light-color !important
        background: $terciary-color !important
.active
    color: $light-color !important
    background: $terciary-color !important
    border-radius: 3px
    padding: 2px
    
    margin: 1px
.nav-link
    font-size: 16px !important
