// Variables
@import "_colors"

// Sección Sobre Nosotros

.sobre-nosotros
    padding-top: 5rem
    padding-bottom: 5rem

    & .titulo
        color: $primary-color
        font-size: 2.5rem
        margin-bottom: 1rem
        text-align: center

    & h2
        color: $secondary-color
        margin-bottom: 1rem

    & p
        font-size: 1rem
        line-height: 1.6

    & .img-fluid
        border: 2px solid $primary-color
