.img-logo {
  height: 2.5rem;
}

.nav-bar {
  background: #450920;
  z-index: 10;
}

.text-logo {
  color: #fff !important;
}

.menu-burger {
  filter: invert(100%);
}

.nav-text {
  color: #a53860 !important;
  text-decoration: underline !important;
}
.nav-text:hover {
  color: #fff !important;
}

.active {
  color: #fff !important;
  text-decoration: underline !important;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-section .img-content {
  margin-top: 55px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.hero-section .img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section .container {
  position: relative;
  z-index: 0;
}
.hero-section .titulo {
  text-shadow: 1px 2px #000;
  font-size: 3rem;
  margin-bottom: 20px;
}
.hero-section .sub-title {
  text-shadow: 1px 2px #000;
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.hero-section .btn-primary {
  background-color: #450920;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.hero-section .btn-primary:hover {
  background-color: #18030b;
}

.productos .titulo {
  margin-top: 100px;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 2px;
}
.productos .filtros {
  margin-bottom: 2rem;
}
.productos .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productos .form-group {
  flex: 1 1 22%;
  margin-bottom: 1rem;
}
.productos .form-group .seleccion {
  font-size: 1rem;
  color: #555;
}
.productos .form-group .form-control {
  font-size: 12px;
}
.productos .form-group .botom {
  margin-top: 1rem;
  background-color: #ffa5ab;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 12px;
  cursor: pointer;
}
.productos .form-group .botom:hover {
  background: #fff !important;
  color: #ffa5ab !important;
  border: 1px solid #ffa5ab !important;
}

.pulso {
  margin-top: 1rem;
  background-color: #ffa5ab !important;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 12px;
  cursor: pointer;
}
.pulso:hover {
  background: #fff !important;
  color: #ffa5ab !important;
  border: 1px solid #ffa5ab !important;
}

.card {
  box-shadow: 4px 1px 10px #000;
}
.card:hover {
  box-shadow: 4px 1px 10px #ffa5ab;
}

.sobre-nosotros {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sobre-nosotros .titulo {
  color: #450920;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.sobre-nosotros .sub {
  color: #f9dbbd;
  margin-bottom: 1rem;
}
.sobre-nosotros .parra {
  font-size: 1rem;
  line-height: 1.6;
}
.sobre-nosotros .img-fluid {
  border: 2px solid #450920;
}

@media screen and (max-width: 991px) {
  .columna1 {
    order: 2;
  }
  .columna2 {
    order: 1;
  }
}
.footer-content {
  background: #da627d;
}

.contacto, .enlaces, .siguenos {
  font-size: 1.5rem;
  color: #fff;
}

.text-link {
  color: #47313a;
}

.text-icon {
  color: #47313a;
}

.icono {
  color: #47313a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

/*# sourceMappingURL=style.css.map */
